<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container m-3">
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <h1 class="mb-5">Example</h1>
						<div class="row my-3">
								{% with messages = get_flashed_messages() %}
								{% if messages %}
								{% for message in messages %}
								<div class="alert alert-info">{{ message }}</div>
								{% endfor %}
								{% endif %}
								{% endwith %}
						</div>
            <form action="https://api-0f42.onrender.com/generate" method="POST" class="form-inline">
                <div class="form-group">
                    <label for="message">Message</label>
                    <input id="message" class="form-control mx-3" name="message"/>
                </div>
                <button class="btn btn-primary" type="submit">Get suggestions</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
